html,
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  min-width: 250px;
  max-width: 996px;
  height: 100%;
  text-align: center;
  margin: auto;
  background-image: url(bkgd.png);
  background-repeat: no-repeat;
  background-position: center 130px;
  background-size: 100%;
}

header {
  padding-top: 30px;
  margin-bottom: 30px;
  font-size: 3rem;
  color: white;
  font-weight: bold;
  background-color: #04eaf5;
}

.navbar {
  display: inline-block;
  background-color: #fad18c;
  width: 100%;
  font-weight: normal;
}

footer {
  font-size: 0.8rem;
  position: absolute;
  bottom: 0;
  height: 50px;
  padding-bottom: 10px;
  width: 100%;
  background-color: #fad18c;
}

a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

.box {
  border: solid 1px black;
  border-radius: 10px;
  padding: 15px;
  padding-top: 0;
  margin: 20px 5%;
  text-align: left;
  background-color: white;
}
button {
  color: white;
  background-color: #04eaf5;
  border: none;
  height: 24px;
}

.field {
  margin-bottom: 1px;
  font-weight: bold;
}
form {
  min-width: 280px;
}

.head {
  padding-bottom: 20px;
}

.info-button {
  text-align: right;
}

input {
  width: 250px;
  margin-bottom: 5px;
}

.main {
  padding-bottom: 50px;
}

.next {
  color: black;
  float: right;
  margin-right: 5%;
  font-size: 0.8rem;
}

.previous {
  color: black;
  float: left;
  margin-left: 5%;
  font-size: 0.8rem;
}

.textbox {
  display: inline-block;

  margin-left: 8px;
  min-width: 250px;
}

th {
  padding-top: 15px;
  padding-bottom: 20px;
  font-weight: bold;
  font-size: 1.5rem;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
}

.wrap {
  min-height: 100%;
  position: relative;
}
